<div class="container mt-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4>Listagem de tarefas cadastradas:</h4>
            <p>Ultimas tarefas cadastradas.</p>
          </div>
          <div class="col-md-6 text-end">
            <button class="btn btn-outline-success btn-sm mt-3">
              Cadastrar tarefa
            </button>
          </div>
        </div>
 
        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>Nome da tarefa</th>
                <th>Data e hora</th>
                <th>Descrição</th>
                <th>Prioridade</th>
                <th [width]="150">Operações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tarefas">
                <td>{{ item.nome }}</td>
                <td>{{ item.dataHora }}</td>
                <td>{{ item.descricao }}</td>
                <td>{{ item.prioridade }}</td>
                <td>
                  <button class="btn btn-sm btn-outline-primary me-2">
                    Editar
                  </button>
                  <button class="btn btn-sm btn-outline-danger">Excluir</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">Quantidade de tarefas: {{ tarefas.length }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>


